#appFrame {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1024px;
  margin: auto;
  height: 730px;
  background-image: url("../Environment/table.PNG");
}

#playArea {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  border: 1px solid;
  border-color: dimgrey;
  background-image: url("../Environment/cloth.PNG");
}

/* begin N's tweaks */

.player {
  position: absolute;
  height: 25%;
  background-image: url("../Environment/cloth.PNG");
}

#current {
  bottom: 0;
  width: 60%;
  margin: auto;
  left: 0;
  right: 0;
}

#next {
  left: 0;
  top: 0;
}

#previous {
  right: 0;
  top: 0;
}

.player:not(#current) {
  width: 33%;  
}

.won {
  position: absolute;
  height: 100%;
}

#next.player>.won { left: 100%; }
#previous.player>.won { right: 100%; }
#current.player>.won { right: 100%; }

.hand {
  width: 100%; 
  height: 90%;
  display: flex;
  justify-content: center;
}

.player:not(#current) .hand {
  transform: rotate(180deg);
}


.card {
  height: 80%;
  width: auto;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
}

#current.player>.hand>.card {
  height: 100%;
}
#current.player>.hand>.card:not(:first-of-type) {
  margin-left: -72px;
}

.player:not(#current)>.hand>.card {
  height: 90%;
}
.player:not(#current)>.hand>.card:not(:first-of-type) {
  margin-left: -90px;
}

/* end N's tweaks */

#activePlayersTricks {
  position: absolute;
  bottom: 10px;
  width: 10%;
  height: 20%;
  margin: auto;
  left: 20px;
  justify-content: center;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#nextPlayersTricks {
  position: absolute;
  bottom: 540px;
  margin: auto;
  width: 10%;
  height: 20%;
  left: 360px;
  top: 0;
  justify-content: center;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  transform: rotate(180deg);
}

#previousPlayersTricks {
  position: absolute;
  bottom: 540px;
  width: 10%;
  height: 20%;
  margin: auto;
  left: 230px;
  top: 0;
  right: 0;
  justify-content: center;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  transform: rotate(180deg);
}

.nextOpponentCard {
  transform: rotate(180deg);
  height: 90%;
  width: auto;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
  position: relative;
  left: 0;
  right: 0;
}

.previousOpponentCard {
  transform: rotate(180deg);
  height: 90%;
  width: auto;
  border: 0.3px solid hsl(0, 0%, 81%);
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.2s;
  position: relative;
  left: 0;
  right: 0;
}

.card.bigger {
  margin-top: -50px;
  border-color: hsl(90, 100%, 50%);
  border-width: 3px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.8);
  transition-duration: 0s;
  transform: rotate(0deg) translate(0px, 0px) !important;
}